/* Общий стиль для всего документа */
body {
  font-family: 'Amatic SC', cursive; /* Использование шрифта Amatic SC */
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  overflow-y: scroll; /* Добавляет вертикальную прокрутку */
  /* Добавляем фоновую картинку */
  background-image: url('path_to_your_background_image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 26px; /* Увеличение размера шрифта */
}

/* Стиль для заголовка сайта */
.header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 40px; /* Увеличение размера шрифта */
}

.header h1 {
  margin: 0;
  font-size: 30px; /* Увеличим размер шрифта для заголовков */
}

/* Основной контент */
.content {
  max-width: 800px;
  margin: 20px auto;
  padding: 30px; /* Увеличение отступов для лучшего восприятия контента */
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 8px; /* Скруглённые углы для более современного вида */
}

/* Заголовки внутри контента */
h2 {
  color: #dc3545; /* Красный цвет для заголовков */
  margin-top: 0;
  margin-bottom: 15px; /* Немного увеличим отступ снизу */
  font-weight: bold; /* Жирный шрифт для выделения заголовков */
  letter-spacing: 1px; /* Небольшое расстояние между буквами для улучшения читаемости */
  font-size: 28px; /* Увеличение размера шрифта */
}

p {
  color: #7f8c8d; /* Серый цвет для текста */
  line-height: 1.6;
  margin-bottom: 25px;
  word-wrap: break-word; /* Для корректного переноса длинных слов */
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
  position: relative; /* Добавим маркеры для списка */

  &::before {
    content: "•";
    color: #dc3545; /* Цвет маркера соответствует заголовкам */
    display: inline-block;
    width: 1em; /* Ширина маркера */
    margin-left: -1em;
  }
}

img {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .content {
    padding: 40px; 
    margin: 40px auto; 
  }
  h2 { font-size: 22px; } /* Увеличиваем размер заголовков на больших экранах */
}
